/target/
.classpath
.settings/org.eclipse.wst.common.component

/.settings
/src/main/resources/client_secrets.json
/src/main/resources/firebase.json
/src/main/resources/server_secrets.json
/src/main/resources/siie-importer-server.p12

/node
/node_modules